.container {
	text-align: center;
	max-width: 850px ;
	margin:  auto;
	margin-top: 15px;
	margin-left: auto;
}

.button-container {
	display: grid;
	flex-direction: row;
	justify-content: center;
	/* align-items: center; */
	list-style-type: none;
	/* position: relative; */
}
/* Style the calculator buttons */
.calculator-button {
	background-color: #7fafaa;
  color: rgb(3, 0, 100);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
	list-style-type: none;
	position: center;
  }

.calculator-button:hover {
  background-color: #9fdcd5;
}

.display {
	width: 50%;
	background-color: #f0f0f0;
	border: 1px solid #beb4b4;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 28px;
	text-align: right;
	min-height: 50px;
	position: center;
	/* align-content: center; */
}
.displayAnswer {
	width: 50%;
	color: rgb(9, 172, 39);
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 28px;
	text-align: right;
	min-height: 50px;
}

/* Add styles for the operator buttons */
.calculator-operator {
  background-color: #b79a23;
  color: rgb(3, 0, 100);
  width: 50px;
	border-radius: 5px;
  padding: 10px;
  font-size: 1.2em;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
	list-style-type: none;
}

.calculator-operator:hover {
  background-color: #f6de53;
}
/* Add styles for the equal button */
.calculator-equal {
  background-color: hsl(120, 34%, 46%);
  color: rgb(3, 0, 100);
  width: 110px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
	list-style-type: none;
}

.calculator-equal:hover {
  background-color: #18ce03; 
  }

  /* Add styles for the Clear button */
.calculator-clear {
  background-color: #9f4e4e;
  color: rgb(3, 0, 100);
	width: 50px;
  
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
	list-style-type: none;
}

.calculator-clear:hover {
  background-color: #f4511e; 
}
.operator-buttons {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.number-buttons {
	padding: 0;
  margin: 0;
	width: 100%;
	list-style-type: none;
	display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 5px;
}

.button-shadow {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, color */
}
.disabled{
  background-color: #b4b4b4;
}
/* .button:hover {
	background-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), 87%);
} */
